.job{
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
}

.joblisting{
  background-color:aliceblue;
  padding: 15px 0 15px 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  overflow: hidden;
  overflow-y: scroll;
}


/* job list if no jobs are available */
  .no-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
    line-height: 1.5; /* Adjust line-height for better spacing if needed */
  }
   